<a href="https://colab.research.google.com/github/Casheww10/AI/blob/main/Python_Data_Structure_Assignment_Day_5_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [49]:
# create empty list, name it 'a'
a=[]

In [50]:
# print the value of a
a=[1,2,3,4,5]

In [51]:
print(a)

[1, 2, 3, 4, 5]

In [52]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [53]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

In [54]:
print(languages)

['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [55]:
languages = ['R', 'Python', 'SAS', 'Scala', 42] # Creating the list

In [56]:
print(len(languages)) # Printing the number of elements

5

Using for loop iterate and print all the elements in the list

In [57]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]  # Creating the list
# Using a for loop to print each element
for lang in languages:
    print(lang)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [58]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]  # Creating the list

In [59]:
temp = languages[1]  # Selecting the second item (index 1) and storing it in 'temp'

Print the value of temp and type(temp)

In [60]:
print(temp)  # Printing the value of 'temp'

Python

In [61]:
type(temp)

str

Append the element 'Java' in the list

In [62]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]  # Creating the list

In [63]:
languages.append('Java') # Appending 'Java' to the list

In [64]:
print(languages)  # Printing the updated list

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [65]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]  # Creating the list

languages.remove(42)  # Removing the element 42

print(languages)  # Printing the updated list

['R', 'Python', 'SAS', 'Scala']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [66]:
colors = ['Red', 'Blue', 'White']  # Creating the list
print(colors)  # Printing the list

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [67]:
colors = ['Red', 'Blue', 'White']
colors.append('Black') #append means adding element that is 'Black' to colors
print(colors) #printing the list

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [68]:
colors = ['Red', 'Blue', 'White', 'Black']  # Creating the list

colors.insert(1, 'Orange')  # Inserting 'Orange' at index 1

print(colors)  # Printing the updated list

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [69]:
print(colors)  # Printing the list

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [70]:
colors2 = ['Grey', 'Sky Blue']  # Creating the list
print(colors2)  # Printing the list

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [71]:
colors = ['Red', 'Orange', 'Blue', 'White', 'Black']  # Creating the first list
colors2 = ['Grey', 'Sky Blue']  # Creating the second list

colors.extend(colors2)  # Extending colors with elements from colors2
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [72]:
# Printing the length of the list
print("Length of colors:", len(colors))

Length of colors: 7

In [73]:
# Printing all elements of the list
print("Elements of colors:", colors)

Elements of colors: ['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [74]:
colors.sort()  # Sorting the list in ascending order

In [75]:
print("Sorted colors list:", colors)  # Printing the sorted list

Sorted colors list: ['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [76]:
sent = 'Coronavirus Caused Lockdowns Around The World.'  # Creating the string
print(sent)  # Printing the string

Coronavirus Caused Lockdowns Around The World.

Use split function to convert the string into a list of words and save it in variable words and print the same

In [77]:
sent = 'Coronavirus Caused Lockdowns Around The World.'  # Creating the string

words = sent.split()  # Splitting the string into a list of words

print(words)  # Printing the list of words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [78]:
sent = 'Coronavirus Caused Lockdowns Around The World.'  # Creating the string
words = sent.split()  # Splitting the string into a list of words

words_lower = [word.lower() for word in words]  # Converting each word to lowercase

print(words_lower)  # Printing the lowercase words list

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [79]:
# Checking if 'country' is in the list
if 'country' in words_lower:
    print("'country' is in the list.")
else:
    print("'country' is NOT in the list.")

'country' is NOT in the list.

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [80]:
words_lower.remove('the')  # Removing 'the' from the list

print(words_lower)  # Printing the updated list

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [81]:


x4 = words_lower[:4]  # Selecting the first 4 words using slicing

print(x4)  # Printing x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [82]:
x4_string = " ".join(x4)  # Joining the list into a single string

print(x4_string)  # Printing the joined string

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [83]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']  # Creating the list
print(stud_grades)  # Printing the list

['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [85]:
print("Length of stud_grades:", len(stud_grades))  # Printing the length of the list

Length of stud_grades: 6

Create a new variable, stud_grades_set = set(stud_grades)

In [86]:
stud_grades_set = set(stud_grades)  # Converting the list into a set

Print stud_grades_set.

In [87]:
print(stud_grades_set)  # Printing the set

{'B', 'F', 'C', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [88]:
# Printing types
print("Type of stud_grades:", type(stud_grades))
print("Type of stud_grades_set:", type(stud_grades_set))

Type of stud_grades: <class 'list'>
Type of stud_grades_set: <class 'set'>

In [89]:
# Printing elements
print("Elements of stud_grades:", stud_grades)
print("Elements of stud_grades_set:", stud_grades_set)

Elements of stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']
Elements of stud_grades_set: {'B', 'F', 'C', 'A'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [90]:

stud_grades_set.add('G')  # Adding 'G' to the set

print(stud_grades_set)  # Printing the updated set

{'G', 'F', 'B', 'C', 'A'}

Add element 'F' to stud_grades_set. and print it.

In [91]:

stud_grades_set.add('F')  # Adding 'F' to the set

print(stud_grades_set)  # Printing the updated set

{'G', 'F', 'B', 'C', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [92]:
stud_grades_set.remove('F')  # Removing 'F' from the set

print(stud_grades_set)  # Printing the updated set

{'G', 'B', 'C', 'A'}

Print the elements and the length of stud_grades_set

In [93]:
# Printing elements and length
print("Elements of stud_grades_set:", stud_grades_set)
print("Length of stud_grades_set:", len(stud_grades_set))

Elements of stud_grades_set: {'G', 'B', 'C', 'A'}
Length of stud_grades_set: 4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [94]:
colors = ['red', 'blue', 'orange']  # Creating the colors list
fruits = ['orange', 'grapes', 'apples']  # Creating the fruits list

Print color and fruits

In [95]:
print("Colors:", colors)  # Printing colors list
print("Fruits:", fruits)  # Printing fruits list

Colors: ['red', 'blue', 'orange']
Fruits: ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [96]:
# Creating the lists
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

# Converting lists to sets
colors_set = set(colors)
fruits_set = set(fruits)

# Printing the sets
print("Colors Set:", colors_set)
print("Fruits Set:", fruits_set)

Colors Set: {'orange', 'blue', 'red'}
Fruits Set: {'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [97]:
# Creating the lists
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

# Converting lists to sets
colors_set = set(colors)
fruits_set = set(fruits)

# Finding the union of both sets
union_set = colors_set.union(fruits_set)  # Using union() method
# OR
# union_set = colors_set | fruits_set  # Using '|' operator

# Printing the union set
print("Union of colors_set and fruits_set:", union_set)

Union of colors_set and fruits_set: {'orange', 'grapes', 'red', 'blue', 'apples'}

Find the intersection of both the sets

In [98]:
# Creating the lists
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

# Converting lists to sets
colors_set = set(colors)
fruits_set = set(fruits)

# Finding the intersection of both sets
intersection_set = colors_set.intersection(fruits_set)  # Using intersection() method
# OR
# intersection_set = colors_set & fruits_set  # Using '&' operator

# Printing the intersection set
print("Intersection of colors_set and fruits_set:", intersection_set)

Intersection of colors_set and fruits_set: {'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [99]:
# Finding elements in fruits_set but not in colors_set
fruits_not_colors = fruits_set.difference(colors_set)  # Using difference() method
# OR
# fruits_not_colors = fruits_set - colors_set  # Using '-' operator

# Printing the result
print("Elements in fruits but not in colors:", fruits_not_colors)

Elements in fruits but not in colors: {'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [100]:
temp = [17, 'Virat', 50.0]  # Creating the list

print(temp)  # Printing the list

[17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [101]:
temp = [17, 'Virat', 50.0]  # Creating the list

# Iterating through temp and printing each item
for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [102]:
temp[0] = 11  # Replacing the first element

print(temp)  # Printing the updated list

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [103]:
temp = [11, 'Virat', 50.0]  # Updated list

temp1 = tuple(temp)  # Converting list to tuple

print(temp1)  # Printing the tuple
print(type(temp1))  # Checking the type

(11, 'Virat', 50.0)
<class 'tuple'>

Iterate through temp1 and print all the items in temp1.

In [104]:
temp1 = tuple(temp)  # Converting list to tuple

# Iterating through temp1 and printing each item
for item in temp1:
    print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [105]:
# Creating a new tuple with the first element replaced
temp1 = (17,) + temp1[1:]

print(temp1)  # Printing the updated tuple

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [106]:
city = ("Bangalore", 28.9949521, 72)  # Creating the tuple

print(city)  # Printing the tuple
print(type(city))  # Checking the type

('Bangalore', 28.9949521, 72)
<class 'tuple'>

Print first element of city

In [107]:
city = ("Bangalore", 28.9949521, 72)  # Creating the tuple

print(city[0])  # Printing the first element

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [108]:
city2 = ('Chennai', 30.01, 74)  # Creating the tuple

print(city2)  # Printing the tuple
print(type(city2))  # Checking the type

('Chennai', 30.01, 74)
<class 'tuple'>

Create cities which consist of city and city2

In [109]:
city = ("Bangalore", 28.9949521, 72)
city2 = ("Chennai", 30.01, 74)

# Creating a tuple of tuples
cities = (city, city2)

Print cities

In [111]:
print(cities)  # Printing the tuple of cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [113]:
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [114]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [115]:
d = {
    "actor": "amir",
    "animal": "cat",
    "earth": 2,
    "list": [23, 32, 12]
}

Print the value of d[0]

In [116]:
print(d[0])  # This will cause a KeyError

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [117]:
d = {
    "actor": "amir",
    "animal": "cat",
    "earth": 2,
    "list": [23, 32, 12]
}

# Storing the value of 'actor' key in a new variable
actor = d["actor"]

print(actor)  # Printing the value of actor

amir

Print the type of actor

In [118]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [119]:
# Storing the value of 'list' key in a new variable
List = d["list"]

print(List)  # Printing the value of List

[23, 32, 12]

Print the type of List.

In [120]:
print(type(List))  # Printing the type of List

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [121]:
d1 = {
    "singer": "Kr$na",
    "album": "Still here",
    "genre": "hip-hop"
}

Merge d1 into d.

In [122]:
d = {
    "actor": "amir",
    "animal": "cat",
    "earth": 2,
    "list": [23, 32, 12]
}

d1 = {
    "singer": "Kr$na",
    "album": "Still here",
    "genre": "hip-hop"
}

# Merging d1 into d
d.update(d1)

print d

In [123]:
print(d)  # Printing the updated dictionary

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [124]:
print(d.keys())  # Printing all keys in dictionary d

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [125]:
print(d.values())  # Printing all values in dictionary d

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [126]:
for key, value in d.items():
    print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [127]:
sent = "Coronavirus Caused Lockdowns Around The World."

# Creating an empty dictionary to store character counts
char_count = {}

# Iterating over each character in the string
for char in sent:
    if char in char_count:
        char_count[char] += 1  # Increment count if character exists
    else:
        char_count[char] = 1  # Initialize count if character appears first time

# Printing the dictionary with character counts
print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}