<a href="https://colab.research.google.com/github/Casheww10/AI/blob/main/Python_Basics_Assignment_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [3]:
print("what is your name!My name is Kajol" )

what is your name!My name is Kajol

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [4]:
 #define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4
mukesh = 7
z = 6
rohan = 5
longitude = 4

print(mukesh, z, rohan, longitude)  # Printing all variables

7 6 5 4

In [5]:
# print required variable
# output - 5
mukesh = 7
z = 6
rohan = 5
longitude = 4

print(rohan)  # Output: 5

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [6]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"
ur_age = 21
ur_weight = 50.6
ur_first_name = "Mukesh"
ur_last_name = "Manral"

print(ur_age, ur_weight, ur_first_name, ur_last_name)  # Printing all variables

21 50.6 Mukesh Manral

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----|
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [7]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
ur_age = 21
ur_weight = 50.6
ur_first_name = "Mukesh"
ur_last_name = "Manral"

# Printing the types of each variable
print(type(ur_age))         # int
print(type(ur_weight))      # float
print(type(ur_first_name))  # str
print(type(ur_last_name))   # str

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [8]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
ur_age = 21
ur_weight = 50.6
ur_first_name = "Mukesh"
ur_last_name = "Manral"

# Printing values of all variables
print(ur_age, ur_weight, ur_first_name, ur_last_name)

21 50.6 Mukesh Manral

In [9]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'

# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name
ur_first_name = "Mukesh"
ur_last_name = "Mukesh"

# Comparing both variables
TrueOrFalse = (ur_last_name == ur_first_name)

# Printing the result
print(TrueOrFalse)

True

In [10]:
#define a variable name "x" and assign value 777 and print it
x = 777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [11]:
# Initialize variables [x,y,z,zz] with values
## x as 7 =>int ,
## y as 77 =>int,
## z as 77.7 => float,
## zz as 'Hi' => string
x = 7        # Integer
y = 77       # Integer
z = 77.7     # Float
zz = "Hi"    # String

# Printing all variables
print(x, y, z, zz)

7 77 77.7 Hi

# **`Arithmetic Operators`**

In [12]:
# add x and z
x = 7       # int
z = 77.7    # float

result = x + z  # Adding x and z
print(result)   # Printing the result

84.7

In [14]:
# substract x and z
x = 7       # int
z = 77.7    # float

result = x - z  # Subtracting x from z
print(result)   # Printing the result

-70.7

In [15]:
# Multiply x and z
x = 7       # int
z = 77.7    # float

result = x * z  # Multiplication
print(result)   # Printing the result

543.9

In [16]:
# Exponent (raise the power or times) x times z
x = 7       # int
z = 77.7    # float

result = x ** z  # x raised to the power of z
print(result)    # Printing the result

4.614426248242042e+65

In [17]:
# division on x and z
x = 7       # int
z = 77.7    # float

result = x / z  # Division
print(result)   # Printing the result

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [18]:
#floor division(ignores decimal) on x and z (gives quotient)
x = 7       # int
z = 77.7    # float

result = x // z  # Floor division
print(result)    # Printing the result

0.0

In [19]:
# Modulo(gives remainder) on x and z
x = 7       # int
z = 77.7    # float

result = x % z  # Modulo operation
print(result)   # Printing the result

7.0

# **`Comparison Operators`**

In [20]:
# comapre and see if x is less then z
# can use '<' symbol

x = 7       # int
z = 77.7    # float

result = x < z  # Comparison
print(result)   # Printing the result

True

In [21]:
# check the type of above comaprison where it says comapre and see if x is less then z
x = 7       # int
z = 77.7    # float

result = x < z  # Comparison
print(result)   # Printing the result
print(type(result))  # Checking the type

True
<class 'bool'>

* `Bool` => takes two values, either `True` or `False`

In [22]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
x = 7       # int
z = 77.7    # float

result = x <= z  # Comparison
print(result)    # Printing the result

True

In [23]:
# comapre and see if x equall to z
# can use '==' symbol
x = 7       # int
z = 77.7    # float

result = x == z  # Comparison
print(result)    # Printing the result

False

In [24]:
# comapre and see if x is greater than z
# can use '>' symbol
x = 7       # int
z = 77.7    # float

result = x > z  # Comparison
print(result)    # Printing the result

False

In [25]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
x = 7       # int
z = 77.7    # float

result = x >= z  # Comparison
print(result)    # Printing the result

False

In [26]:
# comapre and see if x is Not equall to z
# can use '!=' symbol

x = 7       # int
z = 77.7    # float

result = x != z  # Comparison
print(result)    # Printing the result

True

# **`Logical Operators`**

In [27]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and

# in and both condition must be True to get a True
result = (108 == 108) and (21 == 21)  # Both conditions must be True
print(result)  # Printing the result

True

In [28]:
# how above condition can give False as output show all those conditions
# Case 1: First condition is False, second is True
result1 = (108 == 109) and (21 == 21)
print(result1)  # Output: False

# Case 2: First condition is True, second is False
result2 = (108 == 108) and (21 == 22)
print(result2)  # Output: False

# Case 3: Both conditions are False
result3 = (108 == 109) and (21 == 22)
print(result3)  # Output: False

False
False
False

In [29]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or

# in or Only one condition need to be True to get a True
result = (108 == 108) or (21 == 11)  # Only one condition needs to be True
print(result)  # Printing the result

True

In [30]:

# Case 1: First condition is True, second is False
result1 = (108 == 108) or (21 == 11)
print(result1)  # Output: True

# Case 2: First condition is False, second is True
result2 = (108 == 109) or (21 == 21)
print(result2)  # Output: True

# Case 3: Both conditions are False
result3 = (108 == 109) or (21 == 22)
print(result3)  # Output: False

True
True
False

In [ ]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:`
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [31]:
# make variable with value as : money 100000

# see output of money > 2000
money = 100000  # Assigning value to money

result = money > 2000  # Checking if money is greater than 2000
print(result)  # Printing the result

True

In [32]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working
money = 10000  # Assigning value to money
print(f"You have {money} amount in your account.")  # Display available balance

# Start of if condition
if money > 1000:
    print("You can enroll in the Data Science course for free!")

You have 10000 amount in your account.
You can enroll in the Data Science course for free!

In [33]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you
test_score = 80  # Assigning value to test_score

# Checking the conditions
if test_score > 80:
    print("A grade")
elif 60 < test_score < 80:  # Equivalent to (test_score > 60 and test_score < 80)
    print("B grade")
else:
    print("Nothing for you")

Nothing for you

# **`Python Loops`**

In [38]:
 fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

#for iterating_variable in sequence:
    #statement(s)

apple
banana
cherry

In [39]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [40]:
# print 'I love sports' 10 times using for loop
for i in range(10):  # Loop runs 10 times (0 to 9)
    print("I love sports")

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [43]:
# Syntax of while loop

#while comparison:
num = 1  # Initialize variable

while num <= 5:  # Condition check
    print(num)   # Print the current number
    num += 1     # Increment num (to avoid infinite loop)

1
2
3
4
5

In [44]:
# while loop

# save 0 in variable number

# print till 10 using while loop
number = 0  # Initialize number

while number <= 10:  # Loop runs until number is 10
    print(number)  # Print the current number
    number += 1  # Increment number by 1

0
1
2
3
4
5
6
7
8
9
10

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [45]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5
for num in range(10):  # Loop from 0 to 9
    print("The number is", num)

    if num == 5:  # Check if num is 5
        break  # Exit the loop

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5

# **`Continue Statement`**

In [46]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5
for num in range(10):  # Loop from 0 to 9
    if num == 5:  # Check if num is 5
        continue  # Skip this iteration (don't print 5)

    print("The number is", num)  # Print number if not 5

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 6
The number is 7
The number is 8
The number is 9

# **`String Manipulation`**

In [47]:
string_ = '' or "" or """ """
string1 = 'Hello'       # Single quotes
string2 = "Hello"       # Double quotes
string3 = '''Hello'''   # Triple single quotes
string4 = """Hello"""   # Triple double quotes

In [48]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"
string_var = "We are creating next generation data science eco-system at CollegeRanker"
print(string_var)

We are creating next generation data science eco-system at CollegeRanker

In [49]:
# Find length of string including spaces

string_var = "We are creating next generation data science eco-system at CollegeRanker"
length = len(string_var)  # Get length of the string
print("Length of the string:", length)

Length of the string: 72

In [50]:
# Access characters in a string with indexing i.e string[0]

string_var = "We are creating next generation data science eco-system at CollegeRanker"

# Accessing characters using indexing
print(string_var[0])   # First character
print(string_var[3])   # Fourth character
print(string_var[-1])  # Last character (negative indexing)
print(string_var[-5])  # Fifth character from the end

W
a
r
a

In [51]:
# Access characters with negative indexing i.e string[-1]

string_var = "We are creating next generation data science eco-system at CollegeRanker"

# Accessing characters using negative indexing
print(string_var[-1])   # Last character
print(string_var[-5])   # Fifth character from the end
print(string_var[-10])  # Tenth character from the end

r
a
l

# String Slicing

In [52]:
# select string from first to 6th element i.e string[:6]

string_var = "We are creating next generation data science eco-system at CollegeRanker"

# Extract first 6 characters
substring = string_var[:6]  # Same as string_var[0:6]
print(substring)

We are

In [53]:
# select string from 7th to negative 10th element i.e string[7:-10]

string_var = "We are creating next generation data science eco-system at CollegeRanker"

# Extract from 7th index to the 10th character from the end
substring = string_var[7:-10]
print(substring)

creating next generation data science eco-system at Col

Count of a particular `character` in a string

In [54]:
string_var = "We are creating next generation data science eco-system at CollegeRanker"

# Count occurrences of the letter 'e'
count_e = string_var.count('e')
print("Count of 'e':", count_e)

# Count occurrences of the letter 'a'
count_a = string_var.count('a')
print("Count of 'a':", count_a)

Count of 'e': 13
Count of 'a': 7

Count of a particular `sub-string` in a string

In [55]:
string_var = "We are creating next generation data science eco-system at CollegeRanker"

# Count occurrences of the substring 'data'
count_data = string_var.count('data')
print("Count of 'data':", count_data)

# Count occurrences of the substring 'eco'
count_eco = string_var.count('eco')
print("Count of 'eco':", count_eco)

Count of 'data': 1
Count of 'eco': 1

Find a substring in string using `find` and `index` function

In [56]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error

string_var = "We are creating next generation data science eco-system at CollegeRanker"

# Using find()
index_data = string_var.find('data')
print("Index of 'data' using find():", index_data)  # Found  Returns index

index_ai = string_var.find('AI')
print("Index of 'AI' using find():", index_ai)  # Not Found  Returns -1

# Using index()
index_eco = string_var.index('eco')
print("Index of 'eco' using index():", index_eco)  # Found  Returns index

# Uncomment below line to see error when substring is not found
# index_ai = string_var.index('AI')  # Not Found  Raises ValueError

Index of 'data' using find(): 32
Index of 'AI' using find(): -1
Index of 'eco' using index(): 45

In [57]:
### Checking whether string `startswith` or `endswith` a particular substring or not
string_var = "We are creating next generation data science eco-system at CollegeRanker"

# Check if the string starts with "We"
print(string_var.startswith("We"))  # Output: True

# Check if the string starts with "Data"
print(string_var.startswith("Data"))  # Output: False

# Check if the string ends with "CollegeRanker"
print(string_var.endswith("CollegeRanker"))  # Output: True

# Check if the string ends with "science"
print(string_var.endswith("science"))  # Output: False

True
False
True
False

In [58]:
### Converting string to upper case ###

string_var = "We are creating next generation data science eco-system at CollegeRanker"

# Convert to uppercase
upper_string = string_var.upper()

print(upper_string)

WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER

In [59]:
### Converting only first character of string to upper case

string_var = "we are creating next generation data science eco-system at CollegeRanker"

# Capitalize the first letter
capitalized_string = string_var.capitalize()

print(capitalized_string)

We are creating next generation data science eco-system at collegeranker

In [60]:
### Checking if string is in lower case or upper case

string1 = "hello world"
string2 = "HELLO WORLD"
string3 = "Hello World"
string4 = "123!@#"

# Checking lowercase
print(string1.islower())  # Output: True
print(string2.islower())  # Output: False
print(string3.islower())  # Output: False
print(string4.islower())  # Output: False (no lowercase letters)

# Checking uppercase
print(string1.isupper())  # Output: False
print(string2.isupper())  # Output: True
print(string3.isupper())  # Output: False
print(string4.isupper())  # Output: False (no uppercase letters)

True
False
False
False
False
True
False
False

In [61]:
### Checking if string is digit, alpabetic, alpha-numeric
str1 = "12345"
str2 = "Hello"
str3 = "Hello123"
str4 = "Hello 123"  # Contains space
str5 = "123!"  # Contains special char

# Checking for digits
print(str1.isdigit())  # True
print(str2.isdigit())  # False

# Checking for alphabets
print(str2.isalpha())  # True
print(str3.isalpha())  # False (contains numbers)

# Checking for alphanumeric
print(str3.isalnum())  # True
print(str4.isalnum())  # False (contains space)
print(str5.isalnum())  # False (contains special char)

True
False
True
False
True
False
False

In [62]:
# assign "C++ is easy to learn" to a new_str variable
new_str = "C++ is easy to learn"

In [63]:
### Replace C++ with Python
new_str = "C++ is easy to learn"
new_str = new_str.replace("C++", "Python")

print(new_str)

Python is easy to learn

In [64]:
### Use Split function on new_str ###

new_str = "Python is easy to learn"
words = new_str.split()

print(words)

['Python', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [ ]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [68]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'
def welcome_message(name):
    print(f"Welcome to Functions, {name} !!!")

# Example function call
welcome_message("kajol")

Welcome to Functions, kajol !!!

In [69]:
# call a function with your name

welcome_message("Kajol")

Welcome to Functions, Kajol !!!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [70]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable

def add_numbers():
    total = 3 + 4
    print("Total:", total)

# Calling the function
add_numbers()

Total: 7

# ***`Positional Arguments`***
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [71]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number
def subtraction_function(small_number, large_number):
    return large_number - small_number

# Example function call
result = subtraction_function(3, 10)
print("Difference:", result)

Difference: 7

In [72]:
# pass arguments in right order
def subtraction_function(small_number, large_number):
    return large_number - small_number

# Example function call with correct order
result = subtraction_function(3, 10)  # small_number = 3, large_number = 10
print("Difference:", result)

Difference: 7

In [73]:
# always pass arguments using there name(keyword arguments) then order does not matter

def subtraction_function(small_number, large_number):
    return large_number - small_number

# Calling function using keyword arguments
result = subtraction_function(large_number=10, small_number=3)
print("Difference:", result)

Difference: 7

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [74]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [77]:
random_function()

'changing variable outside of function from inside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [75]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [76]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function